<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="eu.gitcode.android.moneytalks">

    <application
        android:name="eu.gitcode.android.moneytalks.application.App"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.feature.main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.feature.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.feature.register.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.feature.budget.expenses.list.ExpensesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.feature.budget.expenses.show.ExpenseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.feature.budget.expenses.addedit.AddEditExpenseActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>